.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

html, body, #App, .App, #app>div, div#root{
  height: 100%
}

.page-content {
  margin-left: 55px;
  height: 100%;

}

.container {
  padding: 10px 0;
  width:100%;
  
}

.btn-white-orange {
  border-color: #fff;
  color: #fff;
  background-color: #ff4c3a
}

p   {
  max-width: 550px;
}

.orange-component { 
  background: #ff4c3a;
  color: #fff;
  padding: 70px 0;
  width: 100%;
}

.lightgrey-component {
    background-color: #cecfc7;
    padding: 70px 0;
    max-width: 350px;
}

.btn-white {
  background-clip: #cecfc7;
  border-color: black;
} 

.VerticalNav{
  background: #ff4c3a;
  width: 200px;
  position: fixed;
  height: 100%;
  width: 55px;
  display: block;;
}

.VerticalNav a, .VerticalNav li{
  display: center;
  margin: 0%;
  padding: 0%;
}

.orange {
  background-color: #ff4c3a;
}
